PRACTICE EXERCISES ON PYTHON BASICS

1) Write a Python program which accepts the radius of a circle from the user
and compute the area.
Sample input: Enter the radius: 3
Sample output: Area of Circle is 28.59999999999

In [ ]:
import math

radius = float(input("Enter the radius: "))
area = math.pi * radius ** 2

# Round the area to 11 decimal places
rounded_area = round(area, 11)

print("Area of Circle is", rounded_area)

Enter the radius: 3
Area of Circle is 28.27433388231


2) Write a Python Program to accept the details of a student like name, roll
number and mark and display it.

Sample input: Enter the name: Anisha

Enter the roll number: 21

Enter the mark: 78

Sample output: Name: Anisha

Roll No: 21

Mark: 78

In [ ]:
name = input("Enter the name: ")
roll_number = input("Enter the roll number: ")
mark = input("Enter the mark: ")

print("Name:", name)
print("Roll No:", roll_number)
print("Mark:", mark)

Enter the name: Anisha
Enter the roll number: 21
Enter the mark: 78
Name: Anisha
Roll No: 21
Mark: 78


3) Write a Python program to get the largest number from a list.

Sample input: 12, 3, 47, 10

Sample output: 47 is the largest number.

In [ ]:
list1 = [12,3,47,10]
print(max(list1), "is the largest number")

47 is the largest number

In [ ]:
list1 = []
n = int(input("Enter number of elements in list: "))
for i in range(1,n+1):
  num = int(input(""))
  list1.append(num)
print(max(list1), "is the largest number")

Enter number of elements in list: 4
12
3
47
10
47 is the largest number

4) Given a range of first 10 numbers, write a Python program to iterate from
start number to the end number and print the sum of the current number
and previous number.

Sample input: 1….10

Sample output: Current Number 1 Previous Number 0 Sum: 1 Current
Number 2 Previous Number 1 Sum: 3 Current Number 3 Previous
Number 2 Sum: 5… Current Number 10 Previous Number 9 Sum: 19

In [ ]:
for current_num in range(1, 11):
    previous_num = current_num - 1

    print("Current Number" , current_num,enf)
    print("Previous Number", previous_num)
    print("Sum:", current_num + previous_num)

Current Number 1
Previous Number 0
Sum: 1
Current Number 2
Previous Number 1
Sum: 3
Current Number 3
Previous Number 2
Sum: 5
Current Number 4
Previous Number 3
Sum: 7
Current Number 5
Previous Number 4
Sum: 9
Current Number 6
Previous Number 5
Sum: 11
Current Number 7
Previous Number 6
Sum: 13
Current Number 8
Previous Number 7
Sum: 15
Current Number 9
Previous Number 8
Sum: 17
Current Number 10
Previous Number 9
Sum: 19


5) Write a Python program to print only those numbers which are divisible
of 5.

Sample input: 10, 20,33,46,55  
 Sample output: 10, 20, 55

In [ ]:
num_list = [10, 20, 33, 46, 55]
print("Given list:", num_list)
print('Divisible by 5:')
for num in num_list:
    if num % 5 == 0:
        print(num)

Given list: [10, 20, 33, 46, 55]
Divisible by 5:
10
20
55


6) Write a Python program to check whether a number is prime or not.

Sample input: Enter the number: 3

Sample output: 3 is a prime number.

In [ ]:
num = int(input("Enter the number: "))
if num > 1:
    for i in range(2, num):
        if (num % i) == 0:
            print(num, "is not a prime number")
            break
    else:
        print(num, "is a prime number")
else:
    print(num, "is not a prime number")

Enter the number: 3
3 is a prime number


7) Write a Python program to reverse a list using for loop.

Sample input: 10,40,30,70

Sample output: 70,30,40,10

In [ ]:
original_list = [10, 40, 30, 70]
print("Original list : ",original_list)
reversed_list = []
for value in original_list:
  reversed_list = [value] + reversed_list
print("Reversed list : ", reversed_list)

Original list :  [10, 40, 30, 70]
Reversed list :  [70, 30, 40, 10]


8)Write a Python program to print the following pattern.

In [ ]:
n = 4

# Outer loop for each row
for i in range(0, n):
    # Inner loop for each column in the current row
    for j in range(0,i+1):
        print("*", end="")

    print()

*
**
***
****


9) Write a Python program to find the maximum of three numbers

Sample input: 34,12,7

Sample output: 34

In [ ]:

num1 = int(input("Enter the first number: "))
num2 = int(input("Enter the second number: "))
num3 = int(input("Enter the third number: "))

maximum_number = max(num1, num2, num3)

print("The maximum of the numbers is:", maximum_number)

Enter the first number: 34
Enter the second number: 12
Enter the third number: 7
The maximum of the numbers is: 34

10) Write a Python program to construct the following pattern, using a
nested for loop

In [ ]:
n = 5

# Upper part of the pattern
for i in range(n):
    for j in range(i):
        print("*", end="")
    print()

# Lower part of the pattern
for i in range(n, 0, -1):
    for j in range(i):
        print("*", end="")
    print()

*
**
***
****
*****
****
***
**
*